.header-content {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  width: 1160px;
}

.header-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.header-links a {
  font: bold 20px "Anonymous Pro", sans-serif;
  margin-left: 30px;
}

.container-title {
  color: #121723;
  line-height: 100%;
  font: bold 26px "Anonymous Pro", sans-serif;
}

.container-text {
  font: bold 20px "Anonymous Pro", sans-serif;
  margin-top: -15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1161px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 370px;
}

.card-info {
  display: flex;
  flex-direction: column;
  width: 370px;
  border-radius: 0 0 12px 12px;
  background: white;
}

.card-text {
  align-self: stretch;
  padding: 20px;
}

.footer-content {
  padding-top: 30px;
  width: 1160px;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  list-style: none;
  margin-top: auto;
}

.footer-links a {
  color:  #fff;
  font: bold 20px "Anonymous Pro", sans-serif;
  margin: 0 24px;
  text-decoration: none;
}

.footer-text {
  display: flex;
  justify-content: center;
  color: #A1A6B4;
  font: bold "Anonymous Pro", sans-serif;
}

.footer-text p {
  padding-bottom: 10px;
  padding-top: 10px;
}